<div class="row">
  <div class="col s12 idea-list">
    <h4>List of Ideas</h4>
    <div class="new-idea">
      <h4>New Idea</h4>
      <button id="idea-create" class="btn waves-effect waves-light blue">Save</button>
      Title: <input type="text" id="new-idea-title" />
      Body: <input type="text" id="new-idea-body" /><br>
    </div>
    <%= form_tag ideas_path, :method => 'get', :id => "ideas_search" do %>
        <p id="idea-filter">
          <%= text_field_tag :search, params[:search], placeholder: "Search" %>
        </p>
        <div id="ideas"><%= render partial: 'partials/idea_table' %></div>
    <% end %>
  </div>
</div>