<table id="idea-table" class="responsive-table idea-table">
  <thead>
  <tr>
    <th class="title">Title</th>
    <th class="body">Body</th>
    <th class="quality">Quality</th>
    <th class='button-col'></th>
    <th class='button-col'></th>
    <th class='button-col'></th>
    <th class='button-col'></th>
  </tr>
  </thead>
  <tbody id="all-ideas">
  <% @ideas.each do |idea| %>
      <tr data-id="<%= idea.id %>">
        <td class="title"><%= best_in_place idea, :title, type: :textarea%></td>
        <td class="body"><%= best_in_place idea, :body, value: idea.trunc_body, type: :textarea %></td>
        <td class="quality"><%= idea.quality_word %></td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light green thumbs_up">
            <i class="material-icons thumb_up">thumb_up</i>
          </button>
        </td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light red thumbs_down">
            <i class="material-icons thumb_down">thumb_down</i>
          </button>
        </td>
        <td class="button-col">
          <button class="btn-floating btn-large waves-effect waves-light black delete">
            <i class="material-icons">delete</i>
          </button>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Modal Header</h4>
    <p>A bunch of text</p>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
  </div>
</div>