// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-wrapper {
  color: #039be5;
  background: #2b2b2b;
  padding-left: 20px;
  padding-right: 20px;
  position:fixed;
  height: 50px;
  width:100%;
  top: 0;
}

.brand-logo {
  font-size: 32px;
}

.new-idea-col{
  background: #e7e7e7;
  padding: 25px;
  position:fixed;
  height: 100%;
  top: 50px;
  bottom: 0;
}

.idea-list-col {
  background: #fff;
  padding: 25px;
  position:fixed;
  height: 100%;
  top: 50px;
  right:0;
  bottom: 0;
  width:70%;
  overflow-y: scroll;
  overflow-x: scroll;

}

.idea-list-pad {
  height:60px;
}

.new-idea {
  margin-top: -50px;
  background: #e8e8e8;
  padding: 25px;
  height: 150px;
  width: 60%;
  float:right;
}

#new-idea-title {
  width:100%;
  height:30px;
  background: white;
}

#new-idea-body {
  width:100%;
  height:30px;
  background: white;
}

#idea-create {
  position: absolute;
  right:5%;
  top:3%;
}

#idea-filter {
  width:20%;
  background: white;
  height:30px;
  position:absolute;
  left: 15%;
  top: -1%;
}

.button-col {
  padding: 5px;
}

.quality {
  width:80px;
}

.mdl-button--fab.mdl-button--colored {
  min-width: 40px;
  width: 40px;
  height: 40px;
  background: #2b2b2b;
  margin-top: -10px;
}

.mdl-button--fab.mdl-button--colored:hover {
  background:green;
}

#idea-table td,tr{
  max-width:300px;
}

.flashy {
  background: yellow;
  box-shadow: black 5px 10px 15px;
}
